.fitness-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9e9e9e transparent;
}
.fitness-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.fitness-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.fitness-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
  border: transparent;
}
